@font-face {
    font-family: Jost;
    src: url(/fonts/jost-vf.woff2)format("woff2"),url(/fonts/jost-vf.woff2)format("woff");
    font-display: swap
}

@font-face {
    font-family: Victor Mono;
    src: url(/fonts/victor-mono-500.woff2)format("woff2"),url(/fonts/victor-mono-500.woff2)format("woff");
    font-display: swap
}

@layer base,ui;:root {
    --primary-font: "Jost",sans-serif;
    --code-font: "Victor Mono",monospace;
    --min-height: clamp(550px,55vh,60vh);
    --pad: clamp(1rem,4vw,4rem)
}

:root :where(.lenguajehtml) {
    --image-header: image-set(url(/assets/headers/html.avif) type("image/avif"),url(/assets/headers/html.webp) type("image/webp"))
}

:root :where(.lenguajecss) {
    --image-header: image-set(url(/assets/headers/css.avif) type("image/avif"),url(/assets/headers/css.webp) type("image/webp"))
}

:root :where(.lenguajejs) {
    --image-header: image-set(url(/assets/headers/js.avif) type("image/avif"),url(/assets/headers/js.webp) type("image/webp"))
}

:root :where(.terminaldelinux) {
    --image-header: image-set(url(/assets/headers/terminal.avif) type("image/avif"),url(/assets/headers/terminal.webp) type("image/webp"))
}

:root {
    --max-width-page: 1024px
}

body {
    font-family: var(--primary-font);
    color: #fff;
    background: #111;
    margin: 0;
    font-size: 1.2rem
}

.wrapper {
    padding: 1rem var(--pad);
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    width: 80%;
    max-width: 80vw;
    margin: auto;
    display: flex
}

.wrapper h2 {
    font-family: var(--primary-font);
    letter-spacing: -1px;
    text-shadow: 0 0 6px #fffa;
    text-transform: uppercase;
    color: #fff;
    margin: 0 0 1rem;
    font-size: 2rem;
    font-weight: 700
}

.column {
    flex-direction: column;
    align-items: center
}

:where(p),:where(li) {
    font-family: var(--primary-font);
    color: #fff;
    margin: 0 0 2rem;
    font-size: max(20px,min(2vw,22px));
    font-weight: 350;
    line-height: 135%
}

.page section p a {
    color: var(--theme-color)
}

.page section p a:hover {
    color: red
}

section.bg {
    --layer: linear-gradient(transparent,transparent);
    background-image: var(--layer),linear-gradient(#111 10%,transparent,#111 90%),var(--image-header)
}

section.dark {
    --layer: linear-gradient(#111d,#111d)
}

.contents {
    view-transition-name: postcontainer
}

::view-transition-old(postcontainer) {
    animation: .2s ease-in-out forwards fade
}

::view-transition-new(postcontainer) {
    animation: .3s ease-in-out reverse fade
}

@keyframes fade {
    0% {
        opacity: 1;
        transform: matrix(1,0,0,1,0,0)
    }

    to {
        opacity: 0;
        transform: translateY(50px)
    }
}

body.wololo.blue {
    --wololo: #00f5
}

body.wololo.red {
    --wololo: #f005
}

body.wololo:after {
    content: "";
    background: linear-gradient(var(--wololo),#f000);
    mix-blend-mode: screen;
    pointer-events: none;
    z-index: 25;
    height: 100vh;
    display: block;
    position: fixed;
    inset: 0
}

.editor.crt-effect {
    animation: 1.5s steps(10,end) infinite flicker
}

.editor.crt-effect .view-lines,.editor.crt-effect .margin-view-overlays {
    background-image: repeating-linear-gradient(0deg,#7a589b07 0 1px,#0000 1px 5px)
}

.editor.crt-effect .view-lines {
    text-shadow: 0 0 10px color-mix(in oklch,currentColor,transparent 25%)
}

@keyframes flicker {
    0% {
        opacity: 1
    }

    50% {
        opacity: .95
    }

    to {
        opacity: 1
    }
}

body {
    color: white;
    background:#002a3f;
    place-items: center;
    height: 90vh;
    display: grid;
}

main:where(.astro-zetdm5md) {
    place-items: center;
    display: grid
}

img:where(.astro-zetdm5md) {
    scale: 1;
    background-color: whitesmoke;
    
}
img:where(.astro-zetdm5md):hover{
    transform: scale(1.2);
    transition:.3s;
}

h1:where(.astro-zetdm5md) {
    margin-bottom: 0
}

h1:where(.astro-zetdm5md) span:where(.astro-zetdm5md) {
    color: #00b2c1
}

h2:where(.astro-zetdm5md) {
    color: #0051ff;
    margin-top: 0
}

pre:where(.astro-zetdm5md) {
    background: #00000062;
    padding: 1rem
}