@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    scroll-padding: 2rem;
    box-sizing: border-box;
}

:root{
    --container-color:#002a3f;
    --second-color:#0064ab ;
    --text-color: #172717;
    --bg-color: #e8e8e8;
}
::selection{
    color: var(--bg-color);
    background: var(--second-color);
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
img{
    width: 100%;
}
section{
    padding: 3rem 0 2rem;
}
.container{
    max-width: 1068px;
    margin: auto;
    width: 100%;
}
header{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    z-index: 200;
}
.nav{
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 18px 0;
}

.logo{
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--bg-color);
}
.logo span{
    color: var(--second-color);
}
.logo:hover{
    transform: scale(1.1);
    text-shadow:0 0 20px var(--second-color);
    transition: all .3s;
}

.pascual{
    filter: grayscale(100%) brightness(1000%);
    width: 65px;
    height: auto;
}
.home{
    width: 100%;
    min-height: 350px;
    background: linear-gradient(90deg, rgba(6,6,82,1) 0%, rgba(8,9,121,1) 46%, rgba(18,89,148,1) 100%);
    animation: gradienteAnimatcion 20s ease infinite;
    background-size: 400% 400%;
    display:grid ;
    justify-content: center;
    align-items: center;
}
@keyframes gradienteAnimatcion {
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{ background-position: 0% 50;}
}
.home-text{
    color: var(--bg-color);
    text-align: center;
}
.home-title{
    font-size: 4rem;
    line-height: 4rem;
    padding:5%;
}
.home-subtitle{
    font-size: 20px;
    font-weight: 400;
}
.post-filter{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1.5rem;
    margin-top: 2rem !important;
}
.filter-item{
    font-size: 0.9rem;
    font-weight: 500;
    cursor: pointer;
}
.active-filter{
    background: var(--second-color);
    color: var(--bg-color);
    padding: 4px 10px;
    border-radius: 6px;
}

/*cards materias*/

.post{
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(280px, 1fr));
    gap: 50px;
    align-items: center;
    justify-items: center;
    width: 100%;
}

.card{
    position: relative;
    overflow: hidden;
    width: 300px;
    height: 300px;
    background: #9a9ba031;
    border-radius:10px ;
    box-shadow: 0 0 10px rgba(7, 88, 182, 0.685);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px rgba(22, 0, 0, 0.664);
    cursor: pointer;
    transition: all 0.3s;
    padding: 35px;
    color: black;
}
.card img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s;
}

.card p{
    margin-top: 30px;;
    opacity: 0;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.info{
    bottom: 0;
    left: 0;
    padding: 10px;
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background: #4140407c;
    transition: all 0.3s;
    line-height: 30px;
}
.name {
    font-size: 30px;
    font-weight: 600;
    color: #f9f9f9;
}
.date{
    font-size: 16px;
    font-weight: 400;
    color: #e9e7e7;
}
.card:hover img{
    top: 20px;
    left: 20px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
.card:hover .info{
    left: 50%;
    top: 30px;
    height: 90px;
    color: black;
    line-height: 1;
}
.card:hover p{
    animation: fadeup 0.5 forwards;
}
@keyframes fadeup {
    from{
        opacity: 0;
        transform: translateY(20px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
